---
import Layout from '@/layouts/Layout.astro'
import Arrow from '@/assets/arrow.svg'
import CameraIcon from '@/assets/camera.svg'
import Pill from '@/components/Pill.astro'
import LinkButton from '@/components/LinkButton.astro'
import Section from '@/layouts/Section.astro'
import Webcam from '@/components/Webcam.astro'
import Button from '@/components/Button.astro'
import Shooter from '@/assets/shooter.svg'
import EyeOff from '@/assets/eye-off.svg'
import Upload from '@/assets/upload.svg'
import Alphabet from '@/components/Alphabet.astro'
import Results from '@/components/Results.astro'
---
<Layout>
    <header>
        <div class="go-back-container">
            <LinkButton href="/" variant="navigation" text="Go Back">
                <Arrow/>
            </LinkButton>
            <p>Mexican Sign Language</p>
            <Pill text="Camera Mode">
                <CameraIcon/>
            </Pill>
        </div>
    </header>
    <main>
        <Section id="Camera-tool">
            <div class="grid-container">
                <div class="first-card">
                    <h1>Real-Time Recognition</h1>
                    <p>Use your camera or upload an image to recognize Mexican Sign Language gestures</p>
                    <Webcam />
                    <div class="options">
                        <Button id="captureBtn" text="Capture" variant="primary">
                            <Shooter />
                        </Button>
                        <Button id="togglePreviewBtn" text="Hide Landmarks">
                            <EyeOff />
                        </Button>
                        <Button text="Upload Image">
                            <Upload />
                        </Button>
                    </div>
                </div>

                <div class="second-card">
                    <Alphabet />
                    <Results />
                </div>
            </div>
        </Section>
    </main>
</Layout>

<style>
    header {
        margin: 0 auto;
        border-bottom: 1px solid var(--border);
    }

    .go-back-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr minmax(0, 400px);
        gap: 30px;
    }
    .first-card > h1 {
        font-size: 2.25rem;
    }

    .first-card > p {
        font-size: 1.125rem;
        color: var(--muted-foreground);
        margin: 16px 0 24px;
    }
    .options {
        display: flex;
        gap: 1rem;
        margin-top: 20px;
    }

    .options :global(.btn) {
        flex: 1 1 0;
        min-width: 0;
        font-size: 0.8rem;
        gap: 18px;
    }

    @media (max-width:1000px) {
        .grid-container {
            grid-template-columns: 1fr;
        }
    }
</style>

<script>
	import { enableVideoProcessing, captureSnapshot, enablePreviewToggle } from '@/scripts/video-processing.js';

    document.getElementById('startCameraBtn')?.addEventListener('click', () => {
        enableVideoProcessing('webcam', 'overlay');
    });

	enablePreviewToggle('togglePreviewBtn');	
	captureSnapshot('captureBtn');
</script>