---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro'
import Hero from '../components/Hero.astro';
import Section from '../layouts/Section.astro';
import Features from '../components/Features.astro';
import HowItWorks from '../components/HowItWorks.astro';
import Community from '../components/Community.astro'
import GetStarted from '../components/GetStarted.astro'
import Footer from '../components/Footer.astro';
---

<Layout>
	<Header/>
	<main>
		<Section id="hero">
			<Hero />
		</Section>

		<Section id="features" className="bg-green">
			<Features />
		</Section>

		<Section id="how-does-it-work">
			<HowItWorks />
		</Section>

		<Section id="community" className="bg-green">
			<Community />
		</Section>

		<Section id="get-started">
			<GetStarted />
		</Section>
	</main>
	<Footer />
</Layout>
