---
import Brain from "@/assets/brain.svg"
import Upload from "@/assets/upload.svg"
import World from "@/assets/world.svg"
---

<h2>Advanced Technology for Inclusion</h2>
<p class="lead">Our platform uses <strong>state-of-the-art</strong> artificial intelligence to make communication more accessible.</p>

<ul class="cards">
    <li class="card">
        <div class="icon-container">
            <Brain />
        </div>
        <h3>Intelligent Recognition</h3>
        <p>AI algorithms specifically trained to recognize Mexican Sign Language gestures with high accuracy.</p>
    </li>

    <li class="card">
        <div class="icon-container">
            <Upload/>
        </div>
        <h3>Easy to Use</h3>
        <p>Simply upload an image from your device and get instant results. No technical expertise required. For anyone, anywhere.</p>
    </li>

    <li class="card">
        <div class="icon-container">
            <World/>
        </div>
        <h3>Available Online</h3>
        <p>Access it from any device with an internet connection. Available 24/7 for the entire community.</p>
    </li>
</ul>

<style>
    h2 {
        color: var(--foreground);
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    h3, p {
        color: var(--muted-foreground);
    }

    .lead {
        font-size: 1.25rem;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 2rem;
        list-style: none;
        text-align: left;
        
        margin-top: 4rem;
    }

    .card {
        padding: 24px;
        border: 1px solid var(--border);
        border-radius: 12px;
        box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.1);
        text-wrap: pretty;
    }
    .icon-container {
        background: color-mix(in oklab, var(--secondary) 10%, transparent);
        border-radius: 8px;
        width: 3rem;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;
        color: var(--accent);
    }

    .cards .card > p {
        font-size: 0.90rem;
        line-height: 1.4;
        margin-top:4px;
    }
</style>