---
import LinkButton from '../components/LinkButton.astro';
---

<header>
    <div class="navigation-menu">
        <div class="logo">
            <span>LSM</span>
            <p>Mexican Sign Language</p>
        </div>
        <nav class="nav-links">
            <a href=#features>Features</a>
            <a href=#community>Community</a>
            <a href=#about>About</a>
        </nav>
        <div class="login-btn-wrapper">
            <LinkButton text="Log In"></LinkButton>
        </div>
    </div>
</header>

<style>
    header {
        border-bottom: solid 1px var(--border);
    }
    
    .navigation-menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1000px;
        margin: 0 auto;
        gap: 30px;
        padding: 16px;

    }
    .logo {
        display: flex;
        align-items: center;
    }

    span {
        background-color: var(--foreground);
        color: var(--primary-foreground);
        padding: 10px;
        margin-right: 10px;
        border-radius: 8px;
        font-weight: 700;
    }

    p {
        font-weight: bold;
        text-wrap: nowrap;
        color: var(--foreground);
    }

    .nav-links {
        display: flex;
        gap: 30px;
    }

    a {
        text-decoration: none;
        color: var(--muted-foreground);
    }

    a:hover {
        color: var(--foreground);
    }

    @media (max-width: 850px) {
        .navigation-menu {
            justify-content: center;
        }

        a {
            display:none;
        }
    }

    @media (max-width: 550px) {

        .navigation-menu {
            gap: 0;
        }
        .login-btn-wrapper {
            display: none;
        }
    }
</style>