---
import Button from "./Button.astro"
import LinkButton from "./LinkButton.astro"
import Bolt from "../assets/bolt.svg"
import UploadIcon from "../assets/upload.svg"
import CameraIcon from "../assets/camera.svg"
import Pill from "./Pill.astro"
---

<Pill text="Powered by AI">
    <Bolt />
</Pill>

<h1>Recognition of Mexican Sign Language with Artificial Intelligence</h1>
<p>Upload images of hand gestures and let our AI analyze them to recognize letters, words, and expressions in Mexican Sign Language.</p>

<div class="button-group">
    <Button text="Upload Image" variant="primary">
        <UploadIcon aria-hidden="true"/>
    </Button>
    <LinkButton href="/camera" text="See Demo" variant="secondary">
        <CameraIcon aria-hidden="true"/>
    </LinkButton>
</div>

<style>

    h1 {
        color: var(--foreground);
        font-size: 3.75rem;
        line-height: 4rem;
        margin-top: 16px;
        margin-bottom: 24px;

    }
    p {
        color: var(--muted-foreground);
        margin-bottom: 32px;
        font-size: 1.25rem;
        line-height: 2rem;
    }

    h1, p {
        text-align: center;
        text-wrap: balance;
    }

    .button-group {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
    }

    @media (max-width: 850px) {
        h1 {
            font-size: 3rem;
        }
    }
</style>