---

---

<div class="results-container">
    <h2>Analysis Results</h2>
    <p>Letter detected: A</p>
    <p>Confidence: 25%</p>
    <p>Hand detected: Right</p>

</div>

<style>
    .results-container {
        display: flex;
        flex-direction: column;
        gap: 4px;
        padding: 16px;
        border: 1px solid var(--border);
        border-radius: 8px;
        box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);

        margin-top: 30px;
    }

    .results-container h2 {
        text-align: center;
        margin-bottom: 8px;
    }
</style>