---

---
<div class="sign-selected-container">
  <p id="signSelected" class="sign-selected">Letter: A</p>

  <div id="signView" class="sign-view">
    <img id="signImage" src="/hand-references/A.png" alt="Sign A" />
  </div>

  <p id="signDescription" class="description">
    Reference image of the sign for the letter A
  </p>
</div>


<style>
    .sign-selected-container {
        background-color: var(--muted);
        border-radius: 8px;
        border: 1px solid var(--border);
        box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
        padding: 16px;
    }

    .sign-selected {
        font-weight: 600;
    }

    .sign-view {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 100px;
        width: 100px;
        border-radius: 8px;
        background-color: var(--background);

        margin: 20px 0;
    }

    .description {
        font-size: 0.9rem;
        font-weight: 300;
    }
</style>